<!--春季新款-->
<div class="spring-new wrapper">
    <div class="spring-new-adv">
        <img src="index_public/images/spring/spring1.jpg">
        <img src="index_public/images/spring/spring2.jpg">
        <img src="index_public/images/spring/spring3.jpg">
        <img src="index_public/images/spring/spring4.jpg">
    </div>
    <div class="spring-new-adv2">
        <div class="spring-new-list">
            <ul>
                <li>
                    <p class="goods_img home-adv-layout">
                        <a href="/goods-100831.html" target="_blank">
                            <img src="index_public/images/loading.gif" data-original="http://img.ihuashi.cn/data/upload/shop/store/goods/1/2018/03/30/1_05757216686132049_360.jpg">
                        </a>
                    </p>
                    <p class="goods_name">幸福臂弯</p>
                    <p class="goods_price">￥179.00</p>
                </li>
                <li>
                    <p class="goods_img home-adv-layout">
                        <a href="/goods-102760.html" target="_blank">
                            <img src="index_public/images/loading.gif" data-original="http://img.ihuashi.cn/data/upload/shop/store/goods/1/2017/12/08/1_05660582670238070_360.jpg">
                        </a>
                    </p>
                    <p class="goods_name">美好的日子</p>
                    <p class="goods_price">￥210.00</p>
                </li>
                <li>
                    <p class="goods_img home-adv-layout">
                        <a href="/goods-102812.html" target="_blank">
                            <img src="index_public/images/loading.gif" data-original="http://img.ihuashi.cn/data/upload/shop/store/goods/1/2018/05/24/1_05805006229822537_360.jpg">
                        </a>
                    </p>
                    <p class="goods_name">独家记忆</p>
                    <p class="goods_price">￥208.00</p>
                </li>
                <li>
                    <p class="goods_img home-adv-layout">
                        <a href="/goods-100521.html" target="_blank">
                            <img src="index_public/images/loading.gif" data-original="http://img.ihuashi.cn/data/upload/shop/store/goods/1/2016/05/17/1_05168010452975113_360.jpg">
                        </a>
                    </p>
                    <p class="goods_name">你是我的璀璨星光</p>
                    <p class="goods_price">￥289.00</p>
                </li>
                <li>
                    <p class="goods_img home-adv-layout">
                        <a href="/goods-102937.html" target="_blank">
                            <img src="index_public/images/loading.gif" data-original="http://img.ihuashi.cn/data/upload/shop/store/goods/1/2018/01/23/1_05700468878116578_360.jpg">
                        </a>
                    </p>
                    <p class="goods_name">专属天使</p>
                    <p class="goods_price">￥299.00</p>
                </li>
                <li>
                    <p class="goods_img home-adv-layout">
                        <a href="/goods-103342.html" target="_blank">
                            <img src="index_public/images/loading.gif" data-original="http://img.ihuashi.cn/data/upload/shop/store/goods/1/2018/03/14/1_05743541538395665_360.jpg">
                        </a>
                    </p>
                    <p class="goods_name">拥抱幸福</p>
                    <p class="goods_price">￥249.00</p>
                </li>
                <li>
                    <p class="goods_img home-adv-layout">
                        <a href="/goods-100789.html" target="_blank">
                            <img src="index_public/images/loading.gif" data-original="http://img.ihuashi.cn/data/upload/shop/store/goods/1/2018/03/30/1_05757235575226310_360.jpg">
                        </a>
                    </p>
                    <p class="goods_name">粉色回忆</p>
                    <p class="goods_price">￥189.00</p>
                </li>
                <li>
                    <p class="goods_img home-adv-layout">
                        <a href="/goods-100703.html" target="_blank">
                            <img src="index_public/images/loading.gif" data-original="http://img.ihuashi.cn/data/upload/shop/store/goods/1/2018/05/24/1_05804882319224125_360.jpg">
                        </a>
                    </p>
                    <p class="goods_name">无止境的爱</p>
                    <p class="goods_price">￥409.00</p>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--春季新款 end-->
<!--1-->
<div class="flower-content">
    <h2 class="mode_name">
        <span class="flower_name">特价鲜花</span>
        <span class="flower_item">special promotion</span>
    </h2>
    <div class="flower-nav">
        <div class="flower_tab wrapper">
            <a class="tag" href="/list-1091.html" target="_blank">鲜花花束</a>
            <a class="tag" href="/list-1089.html" target="_blank">鲜花礼盒</a>
            <a class="tag" href="/list.html?keyword=提篮" target="_blank">鲜花提篮</a>
            <a class="tag" href="/list-1101.html" target="_blank">卡通花束</a>
            <a class="tag" href="/list-1127.html" target="_blank">水果花篮</a>
            <a class="tag" href="/list-1090.html" target="_blank">绿植发财树</a>
            <a class="tag" href="/list-1171.html" target="_blank">永生花</a>
            <a class="tag" href="/list-1170.html" target="_blank">皂花</a>
        </div>
    </div>
    <div class="home-standard-layout wrapper">
        <ul class="special_list">
            <li>
                <div class="goods-img">
                    <a href="/goods-101355.html" target="_blank">
                        <i class="h_tag h_tag_0"></i>
                        <img src="index_public/images/loading.gif" data-original="http://img.ihuashi.cn/data/upload/shop/store/goods/1/2018/05/24/1_05804997690981566_360.jpg" width="218" height="218"/>
                    </a>
                </div>
                <div class="goods-info">
                    <h2>【特价】精选11朵红玫瑰加2只小熊公仔，满天星围边，叶上黄金间插（或用黄莺代替）</h2>
                    <p class="goods-tag"><i></i>表白/约会</p>
                    <p class="goods-tag"><i></i>道歉/生日</p>
                    <p class="goods-tag"><i></i>女友/老婆</p>
                    <p style="padding: 15px 0;"><span class="goods-price">市场价 ：￥278</span><span>销量 ：5744</span></p>
                    <div class="goods-buy">
                        <span class="sp1">促销价 <em>￥179</em></span>
                        <a class="sp2" href="/goods-101355.html" target="_blank">立即购买</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="goods-img">
                    <a href="/goods-100845.html" target="_blank">
                        <i class="h_tag h_tag_1"></i>
                        <img src="index_public/images/loading.gif" data-original="http://img.ihuashi.cn/data/upload/shop/store/goods/1/2017/10/12/1_05611195706042272_360.jpg" width="218" height="218"/>
                    </a>
                </div>
                <div class="goods-info">
                    <h2>【特价】精选4枝顶级香水百合，2朵白玫瑰 黄莺装饰。</h2>
                    <p class="goods-tag"><i></i>表白/约会</p>
                    <p class="goods-tag"><i></i>道歉/生日</p>
                    <p class="goods-tag"><i></i>女友/老婆</p>
                    <p style="padding: 15px 0;"><span class="goods-price">市场价 ：￥312</span><span>销量 ：5676</span></p>
                    <div class="goods-buy">
                        <span class="sp1">促销价 <em>￥208</em></span>
                        <a class="sp2" href="/goods-100845.html" target="_blank">立即购买</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="goods-img">
                    <a href="/goods-102857.html" target="_blank">
                        <i class="h_tag h_tag_2"></i>
                        <img src="index_public/images/loading.gif" data-original="http://img.ihuashi.cn/data/upload/shop/store/goods/1/2018/01/17/1_05695192000097209_360.jpg" width="218" height="218"/>
                    </a>
                </div>
                <div class="goods-info">
                    <h2>【特价】精选19朵红玫瑰，叶上黄金搭配。</h2>
                    <p class="goods-tag"><i></i>表白/约会</p>
                    <p class="goods-tag"><i></i>道歉/生日</p>
                    <p class="goods-tag"><i></i>女友/老婆</p>
                    <p style="padding: 15px 0;"><span class="goods-price">市场价 ：￥379</span><span>销量 ：8812</span></p>
                    <div class="goods-buy">
                        <span class="sp1">促销价 <em>￥249</em></span>
                        <a class="sp2" href="/goods-102857.html" target="_blank">立即购买</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="goods-img">
                    <a href="/goods-102383.html" target="_blank">
                        <i class="h_tag h_tag_3"></i>
                        <img src="index_public/images/loading.gif" data-original="http://img.ihuashi.cn/data/upload/shop/store/goods/1/2017/09/07/1_05581103348823294_360.jpg" width="218" height="218"/>
                    </a>
                </div>
                <div class="goods-info">
                    <h2>【特价】33朵精品香槟玫瑰，满天星丰满围边，黄莺丰满点缀，2只可爱小熊</h2>
                    <p class="goods-tag"><i></i>表白/约会</p>
                    <p class="goods-tag"><i></i>道歉/生日</p>
                    <p class="goods-tag"><i></i>女友/老婆</p>
                    <p style="padding: 15px 0;"><span class="goods-price">市场价 ：￥436</span><span>销量 ：6096</span></p>
                    <div class="goods-buy">
                        <span class="sp1">促销价 <em>￥300</em></span>
                        <a class="sp2" href="/goods-102383.html" target="_blank">立即购买</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!--2-->
<div class="flower-content">
    <h2 class="mode_name">
        <span class="flower_name">热卖鲜花</span>
        <span class="flower_item">HOT</span>
    </h2>
    <div class="flower-nav">
        <div class="flower_tab wrapper">
            <a class="tag" href="/list-151_1093.html" target="_blank">红玫瑰</a>
            <a class="tag" href="/list-151_1094.html" target="_blank">粉玫瑰</a>
            <a class="tag" href="/list-151_1099.html" target="_blank">香槟玫瑰</a>
            <a class="tag" href="/list-151_1097.html" target="_blank">白玫瑰</a>
            <a class="tag" href="/list-151_1098.html" target="_blank">蓝色妖姬</a>
            <a class="tag" href="/list-152.html" target="_blank">百合</a>
            <a class="tag" href="/list-154.html" target="_blank">康乃馨</a>
            <a class="tag" href="/list-153.html" target="_blank">向日葵</a>
        </div>
    </div>
    <div class="home-standard-layout wrapper">
        <ul class="middle-goods-list2">
            <li class="frist_li"><a href="/goods-102828.html" target="_blank"><img src="index_public/images/loading.gif" data-original="http://www.569ok.com/shop/templates/default/images/index/f1.jpg" width="100%"></a></li>
            <li>
                <a href="/goods-100328.html" target="_blank">
                    <div class="item-layout">
                        <img src="index_public/images/loading.gif" data-original="http://img.ihuashi.cn/data/upload/shop/store/goods/1/2017/09/06/1_05580249595346611_360.jpg" width="248" height="248"/>
                        <p class="goods-name">清水茉莉</p>
                        <p class="goods-price"><em>￥189.00</em><span>￥289.00</span></p>
                    </div>
                </a>
            </li>
            <li>
                <a href="/goods-100509.html" target="_blank">
                    <div class="item-layout">
                        <img src="index_public/images/loading.gif" data-original="http://img.ihuashi.cn/data/upload/shop/store/goods/1/2016/06/03/1_05182853607536029_360.jpg" width="248" height="248"/>
                        <p class="goods-name">携手一生</p>
                        <p class="goods-price"><em>￥179.00</em><span>￥274.00</span></p>
                    </div>
                </a>
            </li>
            <li>
                <a href="/goods-102607.html" target="_blank">
                    <div class="item-layout">
                        <img src="index_public/images/loading.gif" data-original="http://img.ihuashi.cn/data/upload/shop/store/goods/1/2017/10/12/1_05611217022138129_360.jpg" width="248" height="248"/>
                        <p class="goods-name">和煦微风</p>
                        <p class="goods-price"><em>￥269.00</em><span>￥399.00</span></p>
                    </div>
                </a>
            </li>
            <li>
                <a href="/goods-102715.html" target="_blank">
                    <div class="item-layout">
                        <img src="index_public/images/loading.gif" data-original="http://img.ihuashi.cn/data/upload/shop/store/goods/1/2017/11/17/1_05642559854296637_360.jpg" width="248" height="248"/>
                        <p class="goods-name">有点甜</p>
                        <p class="goods-price"><em>￥293.00</em><span>￥419.00</span></p>
                    </div>
                </a>
            </li>
            <li>
                <a href="/goods-101416.html" target="_blank">
                    <div class="item-layout">
                        <img src="index_public/images/loading.gif" data-original="http://img.ihuashi.cn/data/upload/shop/store/goods/1/2016/12/21/1_05356330495869620_360.jpg" width="248" height="248"/>
                        <p class="goods-name">满满全是你</p>
                        <p class="goods-price"><em>￥279.00</em><span>￥439.00</span></p>
                    </div>
                </a>
            </li>
            <li>
                <a href="/goods-100518.html" target="_blank">
                    <div class="item-layout">
                        <img src="index_public/images/loading.gif" data-original="http://img.ihuashi.cn/data/upload/shop/store/goods/1/2016/06/12/1_05190372487748175_360.jpg" width="248" height="248"/>
                        <p class="goods-name">微微一笑很倾城</p>
                        <p class="goods-price"><em>￥289.00</em><span>￥421.00</span></p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
<!--3-->
<div class="flower-content">
    <h2 class="mode_name">
        <span class="flower_name">新品上市</span>
        <span class="flower_item">New</span>
    </h2>
    <div class="flower-nav">
        <div class="flower_tab wrapper">
            <a class="tag" href="/list-4.html" target="_blank">送恋人</a>
            <a class="tag" href="/list-5.html" target="_blank">送朋友</a>
            <a class="tag" href="/list-6.html" target="_blank">送父母</a>
            <a class="tag" href="/list-8.html" target="_blank">送老师</a>
            <a class="tag" href="/list-10.html" target="_blank">送长辈</a>
            <a class="tag" href="/list-9.html" target="_blank">送客户</a>
            <a class="tag" href="/list-11.html" target="_blank">看望病人</a>
        </div>
    </div>
    <div class="home-standard-layout wrapper">
        <ul class="middle-goods-list2">
            <li class="frist_li"><a href="/goods-101013.html" target="_blank"><img src="index_public/images/loading.gif" data-original="http://www.569ok.com/shop/templates/default/images/index/f2.jpg" width="100%"></a></li>
            <li>
                <a href="/goods-102381.html" target="_blank">
                    <div class="item-layout">
                        <img src="index_public/images/loading.gif" data-original="http://img.ihuashi.cn/data/upload/shop/store/goods/1/2017/09/07/1_05581059421346281_360.jpg" width="248" height="248"/>
                        <p class="goods-name">我的宠妃</p>
                        <p class="goods-price"><em>￥300.00</em><span>￥436.00</span></p>
                    </div>
                </a>
            </li>
            <li>
                <a href="/goods-101289.html" target="_blank">
                    <div class="item-layout">
                        <img src="index_public/images/loading.gif" data-original="http://img.ihuashi.cn/data/upload/shop/store/goods/1/2016/09/06/1_05264865531604459_360.jpg" width="248" height="248"/>
                        <p class="goods-name">恒久挚爱</p>
                        <p class="goods-price"><em>￥309.00</em><span>￥489.00</span></p>
                    </div>
                </a>
            </li>
            <li>
                <a href="/goods-102791.html" target="_blank">
                    <div class="item-layout">
                        <img src="index_public/images/loading.gif" data-original="http://img.ihuashi.cn/data/upload/shop/store/goods/1/2017/12/21/1_05671635616128380_360.jpg" width="248" height="248"/>
                        <p class="goods-name">唯爱一生</p>
                        <p class="goods-price"><em>￥489.00</em><span>￥799.00</span></p>
                    </div>
                </a>
            </li>
            <li>
                <a href="/goods-101379.html" target="_blank">
                    <div class="item-layout">
                        <img src="index_public/images/loading.gif" data-original="http://img.ihuashi.cn/data/upload/shop/store/goods/1/2016/10/18/1_05301334209315672_360.jpg" width="248" height="248"/>
                        <p class="goods-name">风华绝代</p>
                        <p class="goods-price"><em>￥300.00</em><span>￥436.00</span></p>
                    </div>
                </a>
            </li>
            <li>
                <a href="/goods-102719.html" target="_blank">
                    <div class="item-layout">
                        <img src="index_public/images/loading.gif" data-original="http://img.ihuashi.cn/data/upload/shop/store/goods/1/2017/11/22/1_05646866392620339_360.jpg" width="248" height="248"/>
                        <p class="goods-name">浪漫爱</p>
                        <p class="goods-price"><em>￥300.00</em><span>￥399.00</span></p>
                    </div>
                </a>
            </li>
            <li>
                <a href="/goods-100314.html" target="_blank">
                    <div class="item-layout">
                        <img src="index_public/images/loading.gif" data-original="http://img.ihuashi.cn/data/upload/shop/store/goods/1/2018/01/11/1_05689936933977095_360.jpg" width="248" height="248"/>
                        <p class="goods-name">钟爱一生</p>
                        <p class="goods-price"><em>￥349.00</em><span>￥568.00</span></p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="wrapper"><div class="mt20 home-adv-layout"><a href="/zt/fm" target="_blank"><img src="index_public/images/loading.gif" data-original="http://www.569ok.com/shop/templates/default/images/index_new/adv2.jpg" /></a></div></div>
<!--4-->
<div class="flower-content">
    <h2 class="mode_name">
        <span class="flower_name">爱情鲜花</span>
        <span class="flower_item">Love</span>
    </h2>
    <div class="flower-nav">
        <div class="flower_tab wrapper">
            <a class="tag" href="/list-1075.html" target="_blank">9朵</a>
            <a class="tag" href="/list-1076.html" target="_blank">11朵</a>
            <a class="tag" href="/list-1080.html" target="_blank">19朵</a>
            <a class="tag" href="/list-1081.html" target="_blank">21朵</a>
            <a class="tag" href="/list-1083.html" target="_blank">33朵</a>
            <a class="tag" href="/list-1085.html" target="_blank">66朵</a>
            <a class="tag" href="/list-1086.html" target="_blank">99朵</a>
            <a class="tag" href="/list-1087.html" target="_blank">99朵以上</a>
        </div>
    </div>
    <div class="home-standard-layout wrapper">
        <div class="left-sidebar">
            <div class="left-ads"><a href="/goods-101804.html" target="_blank"><img src="index_public/images/loading.gif" data-original="http://img.ihuashi.cn/shop/templates/default/images/index/f3.jpg" /></a></div>
        </div>
        <div class="middle-layout">
            <div class="tabs-panel middle-goods-list ">
                <ul>
                    <li><dl><dt class="goods-name"><a target="_blank" href="/goods-102377.html">长相思</a></dt><dd class="goods-thumb"><a target="_blank" href="/goods-102377.html"><img src="index_public/images/loading.gif" data-original="http://img.ihuashi.cn/data/upload/shop/store/goods/1/2017/09/07/1_05580998566096126_360.jpg" ></a></dd><dd class="goods-price"><em>￥248.00</em><span class="original">￥369.00</span></dd></dl></li>
                    <li><dl><dt class="goods-name"><a target="_blank" href="/goods-102375.html">一心爱你</a></dt><dd class="goods-thumb"><a target="_blank" href="/goods-102375.html"><img src="index_public/images/loading.gif" data-original="http://img.ihuashi.cn/data/upload/shop/store/goods/1/2017/09/07/1_05580976340554649_360.jpg" ></a></dd><dd class="goods-price"><em>￥229.00</em><span class="original">￥369.00</span></dd></dl></li>
                    <li><dl><dt class="goods-name"><a target="_blank" href="/goods-101406.html">我为你着迷</a></dt><dd class="goods-thumb"><a target="_blank" href="/goods-101406.html"><img src="index_public/images/loading.gif" data-original="http://img.ihuashi.cn/data/upload/shop/store/goods/1/2018/05/24/1_05804767000451159_360.jpg" ></a></dd><dd class="goods-price"><em>￥257.00</em><span class="original">￥380.00</span></dd></dl></li>
                    <li><dl><dt class="goods-name"><a target="_blank" href="/goods-100224.html">南国相思</a></dt><dd class="goods-thumb"><a target="_blank" href="/goods-100224.html"><img src="index_public/images/loading.gif" data-original="http://img.ihuashi.cn/data/upload/shop/store/goods/1/2016/06/12/1_05190370693815692_360.jpg" ></a></dd><dd class="goods-price"><em>￥293.00</em><span class="original">￥426.00</span></dd></dl></li>
                    <li><dl><dt class="goods-name"><a target="_blank" href="/goods-101288.html">三生三世十里桃花</a></dt><dd class="goods-thumb"><a target="_blank" href="/goods-101288.html"><img src="index_public/images/loading.gif" data-original="http://img.ihuashi.cn/data/upload/shop/store/goods/1/2016/09/06/1_05264860673687522_360.jpg" ></a></dd><dd class="goods-price"><em>￥308.00</em><span class="original">￥446.00</span></dd></dl></li>
                    <li><dl><dt class="goods-name"><a target="_blank" href="/goods-101399.html">因为遇见你</a></dt><dd class="goods-thumb"><a target="_blank" href="/goods-101399.html"><img src="index_public/images/loading.gif" data-original="http://img.ihuashi.cn/data/upload/shop/store/goods/1/2016/10/24/1_05306309528512644_360.jpg" ></a></dd><dd class="goods-price"><em>￥369.00</em><span class="original">￥525.00</span></dd></dl></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--5-->
<div class="flower-content">
    <h2 class="mode_name">
        <span class="flower_name">精品高端</span>
        <span class="flower_item">High-end</span>
    </h2>
    <div class="flower-nav">
        <div class="flower_tab wrapper">
            <a class="tag" href="/zt/qiuhun" target="_blank">表白/求婚</a>
            <a class="tag" href="/zt/daoqian" target="_blank">道歉</a>
            <a class="tag" href="/zt/mengod" target="_blank">表白男神</a>
            <a class="tag" href="/zt/friend" target="_blank">友谊/闺蜜</a>
            <a class="tag" href="/zt/qiuhun" target="_blank">约会</a>
            <a class="tag" href="/zt/anver" target="_blank">恋爱纪念日</a>
        </div>
    </div>
    <div class="home-standard-layout wrapper">
        <div class="left-sidebar">
            <div class="left-ads"><a href="/goods-102392.html" target="_blank"><img src="index_public/images/loading.gif" data-original="http://img.ihuashi.cn/shop/templates/default/images/index/f4.jpg" /></a></div>
        </div>
        <div class="middle-layout">
            <div class="tabs-panel middle-goods-list ">
                <ul>
                    <li><dl><dt class="goods-name"><a target="_blank" href="/goods-101390.html">蓝色爱情海</a></dt><dd class="goods-thumb"><a target="_blank" href="/goods-101390.html"><img src="index_public/images/loading.gif" data-original="http://img.ihuashi.cn/data/upload/shop/store/goods/1/2016/10/21/1_05303833749323159_360.jpg" ></a></dd><dd class="goods-price"><em>￥1164.00</em><span class="original">￥1630.00</span></dd></dl></li>
                    <li><dl><dt class="goods-name"><a target="_blank" href="/goods-101004.html">甜蜜暴击</a></dt><dd class="goods-thumb"><a target="_blank" href="/goods-101004.html"><img src="index_public/images/loading.gif" data-original="http://img.ihuashi.cn/data/upload/shop/store/goods/1/2016/07/09/1_05213805824798043_360.jpg" ></a></dd><dd class="goods-price"><em>￥569.00</em><span class="original">￥967.00</span></dd></dl></li>
                    <li><dl><dt class="goods-name"><a target="_blank" href="/goods-100711.html">青春最好时</a></dt><dd class="goods-thumb"><a target="_blank" href="/goods-100711.html"><img src="index_public/images/loading.gif" data-original="http://img.ihuashi.cn/data/upload/shop/store/goods/1/2016/05/25/1_05175142511662578_360.jpg" ></a></dd><dd class="goods-price"><em>￥642.00</em><span class="original">￥1099.00</span></dd></dl></li>
                    <li><dl><dt class="goods-name"><a target="_blank" href="/goods-101014.html">致予动人的你</a></dt><dd class="goods-thumb"><a target="_blank" href="/goods-101014.html"><img src="index_public/images/loading.gif" data-original="http://img.ihuashi.cn/data/upload/shop/store/goods/1/2016/07/09/1_05213929530491109_360.jpg" ></a></dd><dd class="goods-price"><em>￥669.00</em><span class="original">￥956.00</span></dd></dl></li>
                    <li><dl><dt class="goods-name"><a target="_blank" href="/goods-100546.html">爱的宣言</a></dt><dd class="goods-thumb"><a target="_blank" href="/goods-100546.html"><img src="index_public/images/loading.gif" data-original="http://img.ihuashi.cn/data/upload/shop/store/goods/1/2016/05/13/1_05164597934533767_360.jpg" ></a></dd><dd class="goods-price"><em>￥615.00</em><span class="original">￥1043.00</span></dd></dl></li>
                    <li><dl><dt class="goods-name"><a target="_blank" href="/goods-101016.html">恋恋星空</a></dt><dd class="goods-thumb"><a target="_blank" href="/goods-101016.html"><img src="index_public/images/loading.gif" data-original="http://img.ihuashi.cn/data/upload/shop/store/goods/1/2016/07/09/1_05213985392768611_360.jpg" ></a></dd><dd class="goods-price"><em>￥1020.00</em><span class="original">￥1467.00</span></dd></dl></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--6-->
<div class="flower-content">
    <h2 class="mode_name">
        <span class="flower_name">开业用花</span>
        <span class="flower_item">opering gifts</span>
    </h2>
    <div class="flower-nav">
        <div class="flower_tab wrapper">
            <a class="tag" href="/list-1102.html" target="_blank">开业花篮</a>
            <a class="tag" href="/list.html?keyword=三脚架" target="_blank">三脚架花篮</a>
            <a class="tag" href="/list.html?keyword=桌花" target="_blank">台花桌花</a>
            <a class="tag" href="/list.html?keyword=发财树" target="_blank">发财树</a>
            <a class="tag" href="/list.html?keyword=凤梨花" target="_blank">鸿运当头</a>
        </div>
    </div>
    <div class="home-standard-layout wrapper">
        <div class="left-sidebar">
            <div class="left-ads"><a href="/goods-100934.html" target="_blank"><img src="index_public/images/loading.gif" data-original="http://img.ihuashi.cn/shop/templates/default/images/index/f5.jpg" /></a></div>
        </div>
        <div class="middle-layout">
            <div class="tabs-panel middle-goods-list ">
                <ul>
                    <li><dl><dt class="goods-name"><a target="_blank" href="/goods-102355.html">开业吉祥 单个</a></dt><dd class="goods-thumb"><a target="_blank" href="/goods-102355.html"><img src="index_public/images/loading.gif" data-original="http://img.ihuashi.cn/data/upload/shop/store/goods/1/2016/05/26/1_05175743426201273_360.jpg" ></a></dd><dd class="goods-price"><em>￥129.00</em><span class="original">￥202.00</span></dd></dl></li>
                    <li><dl><dt class="goods-name"><a target="_blank" href="/goods-100969.html">顾客迎门 （开业 花篮）</a></dt><dd class="goods-thumb"><a target="_blank" href="/goods-100969.html"><img src="index_public/images/loading.gif" data-original="http://img.ihuashi.cn/data/upload/shop/store/goods/1/2016/07/07/1_05211981127308379_360.jpg" ></a></dd><dd class="goods-price"><em>￥177.00</em><span class="original">￥280.00</span></dd></dl></li>
                    <li><dl><dt class="goods-name"><a target="_blank" href="/goods-103330.html">一飞冲天 单个</a></dt><dd class="goods-thumb"><a target="_blank" href="/goods-103330.html"><img src="index_public/images/loading.gif" data-original="http://img.ihuashi.cn/data/upload/shop/store/goods/1/2016/07/07/1_05212049603490722_360.jpg" ></a></dd><dd class="goods-price"><em>￥178.00</em><span class="original">￥272.00</span></dd></dl></li>
                    <li><dl><dt class="goods-name"><a target="_blank" href="/goods-102631.html">鸿途非凡 单个</a></dt><dd class="goods-thumb"><a target="_blank" href="/goods-102631.html"><img src="index_public/images/loading.gif" data-original="http://img.ihuashi.cn/data/upload/shop/store/goods/1/2017/10/13/1_05612101455216038_360.jpg" ></a></dd><dd class="goods-price"><em>￥278.00</em><span class="original">￥399.00</span></dd></dl></li>
                    <li><dl><dt class="goods-name"><a target="_blank" href="/goods-102925.html">生意永盛 单个</a></dt><dd class="goods-thumb"><a target="_blank" href="/goods-102925.html"><img src="index_public/images/loading.gif" data-original="http://img.ihuashi.cn/data/upload/shop/store/goods/1/2016/05/26/1_05175752962399981_360.jpg" ></a></dd><dd class="goods-price"><em>￥278.00</em><span class="original">￥407.00</span></dd></dl></li>
                    <li><dl><dt class="goods-name"><a target="_blank" href="/goods-102390.html">万事如意 单个</a></dt><dd class="goods-thumb"><a target="_blank" href="/goods-102390.html"><img src="index_public/images/loading.gif" data-original="http://img.ihuashi.cn/data/upload/shop/store/goods/1/2017/09/07/1_05581162264434991_360.jpg" ></a></dd><dd class="goods-price"><em>￥268.00</em><span class="original">￥421.00</span></dd></dl></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--7-->