<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>myhub</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link href="admin_public/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link type="text/css" href="/static/bootstrap/css/jquery.ui.css"  rel="stylesheet" />
    <link href="index_public/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="admin_public/css/base.css" rel="stylesheet" type="text/css" />
    <script src="/static/bootstrap/js/jquery.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/jquery.ui.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/member.js"></script>
    <script type="text/javascript" src="admin_public/js/validata.js"></script>
</head>
<body>
<div id="append_parent"></div><div id="ajaxwaitid"></div>
<div id="header">
<div class="right">
    <ul>
        <li class="name">{$gadminInfo.gname}：{$Think.cookie.admin_name}</li>
        <li><a class="btn-adds3" href="{:url('login/outlogin')}">【退出】</a></li>
    </ul>
</div>
</div>

<div id="left">
    {include file="layout/menu"/}
</div>

<div id="main">