<style>
    select,input[type="text"]{padding: 4px;width: 100px;}
    .buy_list tr th {border: 1px solid #b4b7bf;background-color: #e1e5ea;}
</style>
<div class="page">
    {include file="layout/top_menu"/}
    <div class="fixed-empty"></div>
    <div class="buy_search">
        <div class="main tb-type1">
            <span style="padding-right: 12px;">权限组列表：</span>
            <a href="javascript:void(0);"  uri="{:url('auth/group_add')}" class="btn-adds" nc_type="dialog" dialog_title="新增权限组" dialog_id="add_data" dialog_width="500">+新增</a>
        </div>
    </div>

</div>

<script type="text/javascript" src="/static/bootstrap/js/dialog.js" id="dialog_js" charset="utf-8"></script>