<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>myhub</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="index_public/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="index_public/css/home_header.css" rel="stylesheet" type="text/css" />
    <link href="index_public/css/dialog.css" rel="stylesheet" type="text/css" />
    <script src="/static/bootstrap/js/jquery.js"></script>
    <script src="/static/layout.js"></script>
</head>
<body>