<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>myhub</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link href="admin_public/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link type="text/css" href="/static/bootstrap/css/jquery.ui.css"  rel="stylesheet" />
    <link href="index_public/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="admin_public/css/base.css" rel="stylesheet" type="text/css" />
    <script src="/static/bootstrap/js/jquery.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/jquery.ui.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/member.js"></script>
    <script src="/static/layout.js"></script>
</head>
<body>
<div id="append_parent"></div><div id="ajaxwaitid"></div>
<div id="header">

</div>

<div id="left">
    <div class="topbar-left">
        <img src="admin_public/images/LOGO.png" style="margin-top: 10px;">
    </div>
    <ul id="menu_left" class="navMenu">
        <li class="frist2">控制台</li>
        <li><a href="javascript:;" class="afinve"> <i class="icon_1"></i> <span class="nav-text">产品管理</span> <span class="arrow"></span> </a>
            <ul class="sub-menu">
                <li><a href=""  class="afinve"><span>产品列表</span></a></li>
                <li><a href=""><span>分类管理</span></a></li>
                <li><a href=""><span>属性管理</span></a></li>
                <li><a href=""><span>品牌管理</span></a></li>
            </ul>
        </li>

        <li><a href="javascript:;" class="afinve"> <i class="icon_1"></i> <span class="nav-text">图片空间</span> <span class="arrow"></span> </a>
            <ul class="sub-menu">
                <li><a href=""  class="afinve"><span>图片列表</span></a></li>
                <li><a href=""><span>图片类型</span></a></li>
            </ul>
        </li>

        <li><a href="javascript:;" class="afinve"> <i class="icon_1"></i> <span class="nav-text">知识社区</span> <span class="arrow"></span> </a>
            <ul class="sub-menu">
                <li><a href=""  class="afinve"><span>社区管理</span></a></li>
                <li><a href=""><span>社区类型</span></a></li>
            </ul>
        </li>

        <li><a href="javascript:;" class="afinve"> <i class="icon_1"></i> <span class="nav-text">进销存管理</span> <span class="arrow"></span> </a>
            <ul class="sub-menu">
                <li><a href=""  class="afinve"><span>销售管理</span></a></li>
                <li><a href=""><span>采购管理</span></a></li>
                <li><a href=""><span>库存</span></a></li>
                <li><a href=""><span>基础资料</span></a></li>
            </ul>
        </li>

        <li><a href="javascript:;" class="afinve"> <i class="icon_1"></i> <span class="nav-text">大数据</span> <span class="arrow"></span> </a>
            <ul class="sub-menu">
                <li><a href=""  class="afinve"><span>大数据管理</span></a></li>
            </ul>
        </li>

        <li><a href="javascript:;" class="afinve"> <i class="icon_1"></i> <span class="nav-text">api接口</span> <span class="arrow"></span> </a>
            <ul class="sub-menu">
                <li><a href=""  class="afinve"><span>接口管理</span></a></li>
            </ul>
        </li>

        <li><a href="javascript:;" class="afinve"> <i class="icon_1"></i> <span class="nav-text">问答管理</span> <span class="arrow"></span> </a>
            <ul class="sub-menu">
                <li><a href=""  class="afinve"><span>问答列表</span></a></li>
            </ul>
        </li>

        <li><a href="javascript:;" class="afinve"> <i class="icon_1"></i> <span class="nav-text">地区管理</span> <span class="arrow"></span> </a>
            <ul class="sub-menu">
                <li><a href=""  class="afinve"><span>地区列表</span></a></li>
            </ul>
        </li>

        <li><a href="javascript:;" class="afinve"> <i class="icon_1"></i> <span class="nav-text">权限管理</span> <span class="arrow"></span> </a>
            <ul class="sub-menu">
                <li><a href="{:url('auth/admin_list')}"  class="afinve"><span>管理员</span></a></li>
                <li><a href=""><span>权限组</span></a></li>
            </ul>
        </li>

        <li><a href="javascript:;" class="afinve"> <i class="icon_1"></i> <span class="nav-text">系统设置</span> <span class="arrow"></span> </a>
            <ul class="sub-menu">
                <li><a href=""  class="afinve"><span>网站设置</span></a></li>
                <li><a href=""><span>缓存管理</span></a></li>
                <li><a href=""><span>地图导航</span></a></li>
            </ul>
        </li>
    </ul>
</div>

<div id="main">