<!--首页底部保障开始-->
<div class="fttff29">
    <div class="warp-all236">
        <div class="mod_agree">
            <ul class="mod_agree_con">
                <li class="mod_agree_item mod_agree_item1">
                    <a  ><img   src="http://www.569ok.com/data/upload/shop/rec_position/aafda0df33d2a95e6010.png"></a><strong>真品货源</strong><span>正品，优质，放心</span>
                </li>

                <li class="mod_agree_item mod_agree_item2">
                    <a  ><img   src="http://www.569ok.com/data/upload/shop/rec_position/f0a5ee0bfc20dd005850.png"></a>                    <strong>数据互通</strong><span>网站，商家，消费者</span>
                </li>
                <li class="mod_agree_item mod_agree_item3">
                    <a  ><img   src="http://www.569ok.com/data/upload/shop/rec_position/72edb29cc2ad2af46000.png"></a>                    <strong>统一价格</strong><span>拒绝被宰，安心购物</span>
                </li>
                <li class="mod_agree_item mod_agree_item4">
                    <a  ><img   src="http://www.569ok.com/data/upload/shop/rec_position/c827005fae642e146280.png"></a>                    <strong>担保交易</strong><span>支付宝担保，交易更安全</span>
                </li>
                <li class="mod_agree_item mod_agree_item5">
                    <a  ><img   src="http://www.569ok.com/data/upload/shop/rec_position/3497c1b195bde1928550.png"></a>                    <strong>闪电发货</strong><span>1-2小时送货上门</span>
                </li>
                <li class="mod_agree_item mod_agree_item6">
                    <a  ><img   src="http://www.569ok.com/data/upload/shop/rec_position/aafda0df33d2a95e6010.png"></a>                    <strong>惊喜购</strong><span>帮你发现身边的好货</span>
                </li>
            </ul>
        </div></div></div>
<!--首页底部保障结束-->
<div id="footer" class="wrapper">
    <p><a href="/">首页</a>
        | <a href="/article_cate-7.html">购物指南</a>
        | <a href="/article_cate-6.html">支付方式</a>
        | <a href="/article_cate-5.html">配送方式</a>
        | <a href="/article_cate-4.html">售后服务</a>
        | <a href="/article_cate-2.html">相关知识</a>
        | <a href="/article_cate-3.html">帮助中心</a>
    </p>
    花市鲜花网（柳州云端科技有限公司） 版权所有，并保留所有权利
    <br/>
</div>
</body>
</html>