<div class="all-category">
    <div class="title"></div>
    <div class="category" style="display:inherit">
        <ul class="menu">
            <li cat_id="256" class="odd">
                <div class="class"><i class="h_j"></i>
                    <h4><a href="javascript:">鲜花用途</a></h4>
<span class="recommend-class">
<a href="/zt/qiuhun" target="_blank">表白/求婚</a>
<a href="/zt/sr" target="_blank">生日祝福</a>
<a href="/list-1110-0-0-2-2-0-0-0-0.html" target="_blank">探病/慰问</a>
<a href="/list-395-0-0-2-2-0-0-0-0.html" target="_blank">友情/同窗</a>
<a href="/list-1112-0-0-2-2-0-0-0-0.html" target="_blank">祝福庆贺</a>
<a href="/list-1102-0-0-2-2-0-0-0-0.html" target="_blank">开业/乔迁</a>
<a href="/list-1109-0-0-2-2-0-0-0-0.html" target="_blank">道歉</a>
<a href="/list-1115-0-0-2-2-0-0-0-0.html" target="_blank">祭奠</a>
</span><span class="arrow"></span> </div>
            </li>
            <li cat_id="2" class="even">
                <div class="class"><i class="h_j"></i>
                    <h4><a href="javascript:">鲜花花材</a></h4>
<span class="recommend-class">
<a href="/zt/mg" target="_blank">玫瑰花</a>
<a href="/list-152-0-0-2-2-0-0-0-0.html" target="_blank">百合</a>
<a href="/list-1064-0-0-2-2-0-0-0-0.html" target="_blank">玫瑰+百合</a>
<a href="/list-154-0-0-2-2-0-0-0-0.html" target="_blank">康乃馨</a>
<a href="/list-153-0-0-2-2-0-0-0-0.html" target="_blank">向日葵</a>
<a href="/list-1104-0-0-2-2-0-0-0-0.html" target="_blank">满天星</a>
<a href="/list-1062-0-0-2-2-0-0-0-0.html" target="_blank">扶郎</a>
</span><span class="arrow"></span> </div>
            </li>
            <li cat_id="593" class="odd">
                <div class="class"><i class="h_j"></i>
                    <h4><a href="javascript:">鲜花类别</a></h4>
<span class="recommend-class">
<a href="/list-1091-0-0-2-2-0-0-0-0.html" target="_blank">鲜花</a>
<a href="/list-1089-0-0-2-2-0-0-0-0.html" target="_blank">礼盒</a>
<a href="/list-1116-0-0-2-2-0-0-0-0.html" target="_blank">桌花/台花</a>
<a href="/list-1102-0-0-2-2-0-0-0-0.html" target="_blank">开业花篮</a>
<a href="/list-1090-0-0-2-2-0-0-0-0.html" target="_blank">发财树</a>
<a href="/list-1118-0-0-2-2-0-0-0-0.html" target="_blank">巧克力</a>
<a href="/list-1101-0-0-2-2-0-0-0-0.html" target="_blank">卡通花束</a>
<a href="/list-1117-0-0-2-2-0-0-0-0.html" target="_blank">蛋糕</a>
<a href="/list-1127-0-0-2-2-0-0-0-0.html" target="_blank">果篮</a>
</span><span class="arrow"></span> </div>
            </li>
            <li cat_id="1" class="even">
                <div class="class"><i class="h_j"></i>
                    <h4><a href="javascript:">送花对象</a></h4>
<span class="recommend-class">
<a href="/list-4-0-0-2-2-0-0-0-0.html" target="_blank">恋人</a>
<a href="/list-5-0-0-2-2-0-0-0-0.html" target="_blank">朋友</a>
<a href="/list-6-0-0-2-2-0-0-0-0.html" target="_blank">父母</a>
<a href="/list-7-0-0-2-2-0-0-0-0.html" target="_blank">领导</a>
    <a href="/list-8-0-0-2-2-0-0-0-0.html" target="_blank">老师</a>
                  <a href="/list-9-0-0-2-2-0-0-0-0.html" target="_blank">客户</a>
                  <a href="/list-10-0-0-2-2-0-0-0-0.html" target="_blank">长辈</a>
                  <a href="/list-11-0-0-2-2-0-0-0-0.html" target="_blank">病人</a>
              </span><span class="arrow"></span> </div>
            </li>
            <li cat_id="3" class="odd">
                <div class="class"><i class="h_j"></i>
                    <h4><a href="javascript:">鲜花价格</a></h4>
              <span class="recommend-class">
                  <a href="/list-200-0-0-2-2-0-0-0-0.html" target="_blank">100-200元</a>
                  <a href="/list-201-0-0-2-2-0-0-0-0.html" target="_blank">200-300元</a>
                  <a href="/list-202-0-0-2-2-0-0-0-0.html" target="_blank">300-500元</a>
                  <a href="/list-203-0-0-2-2-0-0-0-0.html" target="_blank">500-800元</a>
                  <a href="/list-204-0-0-2-2-0-0-0-0.html" target="_blank">800元以上</a>
              </span><span class="arrow"></span> </div>
            </li>
        </ul>
    </div>
</div>