<link href="admin_public/css/shop_data.css" rel="stylesheet" type="text/css" />
<style>
    select,input[type="text"]{padding: 4px;width: 100px;}
</style>
<div class="page">
    {include file="layout/top_menu"/}
    <div class="fixed-empty"></div>
    <div class="menu2_main">
        <div class="main tb-type1 menu2" style="background-color: #fff;padding-left: 30px;">
            <a href="{:url('stock/data_list')}" class="active">产品资料</a>
            <a href="{:url('stock/data_list',['type'=>'kehu'])}">客户资料</a>
            <a href="{:url('stock/data_list',['type'=>'supplier'])}">供货商资料</a>
            <a href="{:url('stock/data_list',['type'=>'attr'])}">产品属性设置</a>
        </div>
    </div>
    <div style="height: 10px !important;"></div>
    <div class="main_data">
        <div class="main_left">
            <ul class="tt" style="height: 13px;">
                <li style="width: 40%;"><span class="btn-adds2">产品大类</span></li>
                <li style="width: 60%;"><a href="javascript:void(0);"  uri="{:url('stock/data_cate_list')}" class="btn-adds5" nc_type="dialog" dialog_title="编辑产品大类" dialog_id="list" dialog_width="500">编辑大类</a></li>
            </ul>
            <ul class="tt2">
                <li onclick="window.location.href='/admin/stock/data_list'" <?php if(!input('cate_id')){?>class="curr"<?php }?>><a href="javascript:void(0);"  class="btn-adds2">全部</a></li>
                <?php foreach($cateList as $v){?>
                <li onclick="window.location.href='/admin/stock/data_list?cate_id='+'{$v.id}'" <?php if($v['id']==input('cate_id')){?>class="curr"<?php }?>><a href="javascript:void(0);"  class="btn-adds2">{$v.cate_name}</a></li>
                <?php }?>
            </ul>
        </div>
        <div class="main_right">
            <div class="buy_search">
                <div class="main tb-type1">
                    <span style="padding-right: 12px;">产品资料列表：</span>
                    <a href="javascript:void(0);"  uri="{:url('stock/data_add')}" class="btn-adds" nc_type="dialog" dialog_title="新增产品资料" dialog_id="data_add" dialog_width="500">+新增</a>
                </div>
            </div>
            <table class="table tb-type2 nobdb buy_list" style="margin-top: 56px;">
                <thead>
                <tr class="thead">
                    <th width="45"></th>
                    <th width="100">产品编码</th>
                    <th width="100">产品名称</th>
                    <th width="100">大类</th>
                    <th width="100">规格</th>
                    <th width="100">单位</th>
                    <th width="100">单位容量</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <?php if(!empty($dataList)){?>
                <?php foreach($dataList as $v){?>
                <tr class="hover">
                    <td><input type="checkbox" name="ids[]" value="{$v.id}"/></td>
                    <td style="color: red;font-weight: 700;">{$v.bid}</td>
                    <td>{$v.p_name}</td>
                    <td>{$v.cate_name}</td>
                    <td>{$v.spec_name}</td>
                    <td>{$v.com_name}</td>
                    <td>{$v.cap_name}</td>
                    <td>
                        <a href="javascript:;" class="btn-adds6" nc_type="dialog"  uri="{:url('stock/data_edit',['id'=>$v['id']])}" dialog_title="编辑产品资料" dialog_id="edit_product" dialog_width="500">编辑</a>
                        <a href="javascript:;" class="btn-adds3"  onclick="dels($(this),1,'/admin/stock/data_list')" ids="{$v.id}">删除</a>
                    </td>
                </tr>
                <?php }?>
                <tr class="c_all">
                    <td colspan="15">
                        <label style="padding: 0;margin: 0;"><input type="checkbox" id="c_All"/><span style="vertical-align: middle;margin-left: 4px;">全选</span></label>
                        <a href="javascript:void(0)" class="btn-adds3" onclick="dels($(this),2,'/admin/stock/data_list')">删除</a>
                    </td>
                </tr>
                <?php }else{?>
                <tr class="no_data">
                    <td colspan="15">暂无记录...</td>
                </tr>
                <?php }?>
                </tbody>
                <?php if($show_pages){?>
                <tfoot>
                <tr class="tfoot">
                    <td colspan="15" id="dataFuncs"><div class="pagination"> {$show_pages}</div></td>
                </tr>
                </tfoot>
                <?php }?>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript" src="/static/bootstrap/js/dialog.js" id="dialog_js" charset="utf-8"></script>