<link href="admin_public/css/add.css" rel="stylesheet" type="text/css" />
<form id="changeform" method="post" action="{:url('auth/admin_edit')}">
    <input type="hidden" name="admin_id" value="{$admin_info.id}"/>
    <div class="page ws_kehu">
        <div class="s-type1">
            <label>
                <i class="ws_logo"></i><span class="in21">用户名：</span>
                <span style="text-align: center;background: #f1f1f1;">{$admin_info.admin_name}</span>
            </label>
        </div>

        <div class="s-type1">
            <label>
                <i class="ws_logo"></i><span class="in21">密码：</span>
                <input type="text" name="password" id="password" value="" placeholder="为空表示不修改密码"/>
            </label>
        </div>

        <div class="s-type1">
            <label>
                <i class="ws_logo"></i><span class="in21">确认密码：</span>
                <input type="text" name="password_confirm" id="password_confirm" value=""/>
            </label>
        </div>

        <div class="s-type1">
            <label>
                <i class="ws_logo"></i><span class="in21">权限组：</span>
                <select name="gid" style="width: 290px;">
                    <option value="">选择权限组</option>
                    <?php foreach($group_list as $v){?>
                    <option value="{$v.id}" <?php if($admin_info['group_id']==$v['id']){?>selected<?php }?>>{$v.gname}</option>
                    <?php }?>
                </select>
            </label>
        </div>

        <div class="footer">
            <a href="JavaScript:void(0);" class="btn-adds6" id="confirm_button" ><span>确定</span></a>
        </div>
    </div>
</form>
<script type="text/javascript">
    $(document).ready(function(){
        //按钮先执行验证再提交表单
        $("#confirm_button").click(function(){
            var psd = $('#password').val();
            if(psd == ''){
                submits();
            }else{
                if($("#changeform").valid()){
                    submits();
                }
            }
        });

        $("#changeform").validate({
            errorPlacement: function(error, element){
                error.appendTo(element.parent().parent().prev().find('td:first'));
            },
            rules : {
                admin_name : {
                    required : true
                },
                password:{
                    required : true
                },
                password_confirm: {
                    equalTo: "#password"
                }
            },
            messages : {
                admin_name : {
                    required : '用户名必填'
                },
                password : {
                    required : '密码必填'
                },
                password_confirm:{
                    required : '两次密码不一致'
                }
            }
        });
    });
    function submits(){
        var url = $('#changeform').attr('action');
        var params = $('#changeform').serializeArray();
        var values = {};
        for(var x in params ){
            values[params[x].name] = params[x].value;
        }
        var idata = JSON.stringify(values);
        $.post(url,{params:JSON.parse(idata)},function(result){
            var r = eval('('+result+')');
            if(!r['datas']['error']){
                showDialog(r['datas'],'succ','','','','','','','','',1);
                window.location.reload();
                return false;
            }
            showError(r['datas']['error']);
        });
    }
</script>