<link href="admin_public/css/add.css" rel="stylesheet" type="text/css" />
<style>
    input[type='checkbox']{width: auto;vertical-align: middle;}
    .label{padding-left: 0;padding-right: 0;cursor: pointer;}
    .ws_kehu label span{text-align: left;vertical-align: middle;padding-left: 0;}
</style>
<form id="changeform" method="post" action="{:url('stock/kehu_edit')}">
    <input type="hidden" name="id" value="{$info.id}"/>
    <div class="page ws_kehu">

        <div class="s-type1">
            <label>
                <i class="ws_logo"></i><span class="in21">供货商：</span>
                <input type="text" id="kehu_name" name="kehu_name" value="{$info.kehu_name}"/>
            </label>
        </div>
        <div class="s-type1">
            <label>
                <i class="ws_logo"></i><span class="in21">选择区域：</span>
                <select name="area_id" style="width: 290px;">
                    <?php foreach($area_list as $v){?>
                    <option value="{$v.id}" <?php if($info['area_id']==$v['id']){?>selected<?php }?>>{$v.area_name}</option>
                    <?php }?>
                </select>
            </label>
        </div>
        <div class="s-type1">
            <label>
                <i class="ws_logo"></i><span class="in21">地址：</span>
                <input type="text" id="address" name="address" value="{$info.address}"/>
            </label>
        </div>
        <div class="s-type1">
            <label>
                <i class="ws_logo"></i><span class="in21">联系电话：</span>
                <input type="text" id="tel_phone" name="tel_phone" value="{$info.tel_phone}"/>
            </label>
        </div>
        <div class="s-type1">
            <label>
                <i class="ws_logo"></i><span class="in21">联系人：</span>
                <input type="text" id="tel_name" name="tel_name" value="{$info.tel_name}"/>
            </label>
        </div>
        <div class="s-type1">
            <label>
                <span class="in21">备用电话：</span>
                <input type="text" id="tel_phone2" name="tel_phone2" value="{$info.tel_phone2}"/>
            </label>
        </div>
        <div class="s-type1">
            <label>
                <span class="in21">QQ：</span>
                <input type="text" id="qq" name="qq" value="{$info.qq}"/>
            </label>
        </div>
        <div class="s-type1">
            <label>
                <span class="in21">微信：</span>
                <input type="text" id="weixin" name="weixin" value="{$info.weixin}"/>
            </label>
        </div>

        <div class="footer">
            <a href="JavaScript:void(0);" class="btn-adds6" id="confirm_button" ><span>确定</span></a>
        </div>
    </div>
</form>
<script type="text/javascript">
    $(document).ready(function(){
        //按钮先执行验证再提交表单
        $("#confirm_button").click(function(){
                var url = $('#changeform').attr('action');
                var params = $('#changeform').serializeArray();
                var values = {};
                for(var x in params ){
                    values[params[x].name] = params[x].value;
                }
                var idata = JSON.stringify(values);
                $.post(url,{params:JSON.parse(idata)},function(result){
                    var r = eval('('+result+')');
                    if(!r['datas']['error']){
                        showDialog(r['datas'],'succ','','','','','','','','',1);
                        window.location.reload();
                        return false;
                    }
                    showError(r['datas']['error']);
                });
        });
    });
</script>