<style>
    select,input[type="text"]{padding: 4px;width: 100px;}
    label{padding-right: 10px;position: relative;}
    .buy_list tr th {border: 1px solid #c17db3;background-color: #ffdef1;text-align: center;}
</style>
<div class="page">
    <div style="position: fixed;width: 100%;z-index: 99;background: #fff;">
        {include file="layout/top_menu"/}
        <div class="fixed-empty"></div>
        <div class="menu2_main">
            <div class="main tb-type1 menu2" style="background-color: #fff;padding-left: 30px;">
                <a href="{:url('stock/data_list')}" class="active">全部</a>
                <a href="{:url('stock/data_list',['type'=>'kehu'])}">未发货</a>
                <a href="{:url('stock/data_list',['type'=>'supplier'])}">已发货</a>
                <a href="{:url('stock/data_list',['type'=>'attr'])}">已完成</a>
                <a href="{:url('stock/data_list',['type'=>'attr'])}">取消</a>
            </div>
        </div>
        <div style="height: 10px !important;"></div>
    </div>
    <div class="buy_search" style="margin-top: 107px;">
        <form method="get" action="{:url('stock/data_list',['type'=>'supplier'])}" name="formSearch" id="formSearch">
            <div class="buy_search">
                <div class="main tb-type1">
                    <span style="padding-right: 12px;">销售列表：</span>
                    <a href="javascript:void(0);"  uri="{:url('stock/supplier_add')}" class="btn-adds" nc_type="dialog" dialog_title="新增供货商资料" dialog_id="add_data" dialog_width="500">+新增</a>
                    <input placeholder="下单时间" class="txt date" type="text" value="" id="query_start_time" name="query_start_time">
                    <label for="query_start_time">~</label>
                    <input placeholder="下单时间" class="txt date" type="text" value="" id="query_end_time" name="query_end_time"/>
                    <select name="c_id" >
                        <option  value="0">产品分类</option>
                    </select>
                    <label style="padding-left: 0px;">
                        <select name="is_back" >
                            <option  value="0">是否欠款</option>
                    </label>
                    <label>
                        <span class="in21"></span><input class="txt" style="width: 100px;" type="text" placeholder="出货单号" value="" name="sn"/>
                    </label>
                    <label>
                        <span class="in21"></span><input class="txt" style="width: 100px;" type="text" placeholder="产品编码" value="" name="p_code"/>
                    </label>
                    <label>
                        <span class="in21"></span><input class="txt" style="width: 100px;" type="text" placeholder="产品名称" value="" name="product_name"/>
                    </label>

                    <a href="javascript:void(0);" id="ncsubmit" class="btn-adds8" >搜索</a>
                    <a href="javascript:void(0);" id="rs_ncsubmit"  class="btn-adds4">重置</a>
                </div>
            </div>
        </form>
    </div>
    <table class="table tb-type2 nobdb buy_list">
        <thead>
        <tr class="thead">
            <th>出货单号</th>
            <th>进货日期</th>
            <th width="40">大类</th>
            <th width="150">产品名称（产品编码）</th>
            <th width="40">数量</th>
            <th width="40">单价</th>
            <th width="40">单位</th>
            <th>合计</th>
            <th>已付（元）</th>
            <th>未付（元）</th>
            <th>客户</th>
            <th>制单人</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <?php if(!$list->isEmpty()){?>
        <?php foreach($list as $v){?>
        <tr class="hover">
            <td><input type="checkbox" name="ids[]" value="{$v.id}"/></td>
            <td>{$v.supplier_name}</td>
            <td>{$v.address}</td>
            <td>{$v.tel_phone}</td>
            <td>{$v.tel_name}</td>
            <td>{$v.tel_phone2}</td>
            <td>{$v.qq}</td>
            <td>{$v.weixin}</td>
            <td>
                <a href="javascript:;" class="btn-adds6" nc_type="dialog"  uri="{:url('stock/supplier_edit',['id'=>$v['id']])}" dialog_title="编辑供货商资料" dialog_id="edit_data" dialog_width="500">编辑</a>
                <a href="javascript:;" class="btn-adds3"  onclick="dels($(this),1,'/admin/stock/data_list/type/supplier')" ids="{$v.id}">删除</a>
            </td>
        </tr>
        <?php }?>
        <tr class="c_all">
            <td colspan="15">
                <label style="padding: 0;margin: 0;"><input type="checkbox" id="c_All"/><span style="vertical-align: middle;margin-left: 4px;">全选</span></label>
                <a href="javascript:void(0)" class="btn-adds3" onclick="dels($(this),2,'/admin/stock/data_list/type/supplier')">删除</a>
            </td>
        </tr>
        <?php }else{?>
        <tr class="no_data">
            <td colspan="15">暂无记录...</td>
        </tr>
        <?php }?>
        </tbody>
        <?php if($list->render()){?>
        <tfoot>
        <tr class="tfoot">
            <td colspan="15" id="dataFuncs"><div class="pagination"> {$list->render()}</div></td>
        </tr>
        </tfoot>
        <?php }?>
    </table>
</div>

<script type="text/javascript" src="/static/bootstrap/js/dialog.js" id="dialog_js" charset="utf-8"></script>
<script type="text/javascript" src="/static/bootstrap/js/zh-CN.js" charset="utf-8"></script>
<link href="/static/bootstrap/css/jquery.ui.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">
    $(function(){
        $('#query_start_time').datepicker({dateFormat: 'yy-mm-dd'});
        $('#query_end_time').datepicker({dateFormat: 'yy-mm-dd'});
        $('#ncsubmit').click(function(){
            $('#formSearch').submit();
        });
        $('#rs_ncsubmit').click(function(){
            window.location.href = $('#formSearch').attr('action');
        });
    })
</script>