<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台登录</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="index_public/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="index_public/css/dialog.css" rel="stylesheet" type="text/css" />
    <script src="/static/bootstrap/js/jquery.js"></script>
    <script src="/static/layout.js"></script>

    <link href="admin_public/css/login.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="admin_public/js/login.js"></script>
</head>
<body>
<div id="login_bg"></div>
<div class="ui-mask"></div>
<div class="ui-dialog">
    <div class="ui-dialog-title"><span>后台登录</span></div>
    <div class="ui-dialog-content">
        <form id="changForm">
        <div class="tips-wrapper"></div>
        <div class="login-form"><div class="login-box">
            <div class="item item-fore1">
                <label for="loginname" class="login-label name-label"></label>
                <input id="loginname" type="text" class="itxt" name="admin_name" placeholder="用户名">
            </div>
            <div class="item item-fore1">
                <label for="loginpsd" class="login-label name-label" style="background-position: -48px 0;"></label>
                <input id="loginpsd" type="password" class="itxt" name="admin_psd" placeholder="密码">
             </div>
            <div class="item item-fore1" style="border: none;">
                <div class="videll" style="position: relative;color: #666;">验证码：
                    <input id="videll" type="text" class="itxt" name="code" placeholder="" style="width: 100px;padding-left: 10px;border: 1px solid #ececec;"/>
                    <img src="{:captcha_src()}" onclick="javascript:this.src=this.src+'?time='+Math.random()">
                </div>
            </div>
            <div class="item item-fore15">
                <div class="login-btn">
                    <a href="javascript:;" class="btn-img btn-entry" id="loginsubmit" style="outline: rgb(109, 109, 109) none 0px;">登&nbsp;&nbsp;&nbsp;&nbsp;录</a>
                </div>
            </div>
            </div>
        </div>
        </form>
     </div>
    <a class="ui-dialog-close"  href="javascript:void(0);" title="关闭"><span class="ui-icon ui-icon-delete"></span></a>
</div>
</body>
</html>
<script type="text/javascript">
    $('#loginsubmit').click(function(){
        var url = '/admin/login/login';
        var params = $('#changForm').serializeArray();
        var values = {};
        for(var x in params ){
            values[params[x].name] = params[x].value;
        }
        var idata = JSON.stringify(values);
        $.post(url,{params:JSON.parse(idata)},function(result){
            var r = eval('('+result+')');
            if(!r['datas']['error']){
                hsDialog(r['datas'],'reload','/admin/index/index');
                return false;
            }
            hsDialog(r['datas']['error'],'','');
        });
    });
</script>